<?xml version='1.0' encoding='utf-8'?>
<plugin id="outsystems-plugin-jedai" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>outsystems-plugin-jedai</name>
	<js-module name="outsystems-plugin-jedai" src="www/outsystems-plugin-jedai.js">
		<clobbers target="cordova.plugins.outsystems-plugin-jedai" />
	</js-module>
	
	<!-- Input Variables -->
	<preference name="ANAGOG_API_KEY" default="" />
	<preference name="ANAGOG_FOREGROUND_TITLE" default="" />
	<preference name="ANAGOG_FOREGROUND_MESSAGE" default="" />
	<!-- <preference name="ANAGOG_NOTIFICATION_ICON" default="" /> -->
	
	<!-- Anagog Jed AI SDK Plugin Dependency -->
	<dependency id="cordova-plugin-anagog-jedai" url="@anagog/cordova-jedai" />

	<platform name="android">
		<config-file target="AndroidManifest.xml" parent="/*">
	        <meta-data android:name="ANAGOG_API_KEY" android:value="$ANAGOG_API_KEY" />
	        <meta-data android:name="ANAGOG_FOREGROUND_TITLE" android:resource="$ANAGOG_FOREGROUND_TITLE" />
	        <meta-data android:name="ANAGOG_FOREGROUND_MESSAGE" android:resource="$ANAGOG_FOREGROUND_MESSAGE" />
	        <!-- <meta-data android:name="ANAGOG_NOTIFICATION_ICON" android:resource="@mipmap/ic_launcher" /> -->
		</config-file>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="outsystems-plugin-jedai">
				<param name="android-package" value="outsystems-plugin-jedai.outsystems-plugin-jedai" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<!-- <source-file src="src/android/assets/anagog_config.json" target-dir="src/main/assets" /> -->
	</platform>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="outsystems-plugin-jedai">
				<param name="ios-package" value="outsystems-plugin-jedai" />
			</feature>
		</config-file>
	</platform>
</plugin>